

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ViewModels
@model UserViewModel

<style>
    h2, #cardDisplay {
        padding-left: 400px;
        color: blue;
    }
</style>
<h2>Details of User </h2>
<div id="cardDisplay">
    @Html.DisplayForModel()
</div>